# Compiled class file
*.class

# Log file
*.log

# compile
dist/
node_modules/
platforms/
plugins/
www/


# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.md
node_modules/.bin/create
node_modules/.bin/create.cmd
node_modules/cordova-android/package.json
node_modules/glob/changelog.md
node_modules/glob/common.js
node_modules/glob/glob.js
node_modules/glob/LICENSE
node_modules/glob/package.json
node_modules/glob/README.md
node_modules/glob/sync.js
dist/KuiBu/styles.1d925b86b14525b0ca9a.css
dist/KuiBu/polyfills.f890237b938e4f3d7270.js
dist/KuiBu/index.html
dist/KuiBu/3rdpartylicenses.txt
node_modules/.bin/create
node_modules/.bin/create.cmd
node_modules/cordova-android/package.json
node_modules/glob/changelog.md
node_modules/glob/common.js
node_modules/glob/glob.js
node_modules/glob/LICENSE
node_modules/glob/package.json
node_modules/glob/README.md
node_modules/glob/sync.js
platforms/android/.gradle/4.1/fileHashes/fileHashes.bin
platforms/android/.gradle/4.1/fileHashes/fileHashes.lock
platforms/android/.gradle/4.1/fileHashes/resourceHashesCache.bin
platforms/android/.gradle/4.1/javaCompile/classAnalysis.bin
platforms/android/.gradle/4.1/javaCompile/jarAnalysis.bin
platforms/android/.gradle/4.1/javaCompile/javaCompile.lock
platforms/android/.gradle/4.1/javaCompile/taskHistory.bin
platforms/android/.gradle/4.1/javaCompile/taskJars.bin
platforms/android/.gradle/4.1/taskHistory/fileSnapshots.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.lock
platforms/android/.gradle/buildOutputCleanup/cache.properties
platforms/android/android.json
platforms/android/app/build.gradle
platforms/android/app/build/generated/source/buildConfig/debug/com/lisl/kuibu/BuildConfig.java
platforms/android/app/build/generated/source/r/debug/com/lisl/kuibu/R.java
platforms/android/app/build/intermediates/assets/debug/www/3rdpartylicenses.txt
platforms/android/app/build/intermediates/assets/debug/www/index.html
platforms/android/app/build/intermediates/assets/debug/www/polyfills.f890237b938e4f3d7270.js
platforms/android/app/build/intermediates/assets/debug/www/styles.1d925b86b14525b0ca9a.css
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/debug.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values-ar.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values-bg.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values-ca.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values-cs.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values-da.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values-de.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values-el.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values-es.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values-eu.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values-fi.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values-fr.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values-he.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values-hi.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values-hu.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values-id.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values-it.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values-iw.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values-ja.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values-ko.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values-nl.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values-pl.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values-pt.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values-ru.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values-sk.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values-sl.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values-sv.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values-tr.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values-zh-rCN.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values-zh-rTW.json
platforms/android/app/build/intermediates/blame/res/debug/multi-v2/values.json
platforms/android/app/build/intermediates/blame/res/debug/single/debug.json
platforms/android/app/build/intermediates/incremental/debug-mergeJavaRes/merge-state
platforms/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/F3J5fKYZjK9LqWwLuJPjev0HFKk=
platforms/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Oasx8n78ZmTLHYle7wpoFTcOkMY=
platforms/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/s+dq8UmkxDbrfFcqSgLgukLPFZg=
platforms/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/sARPvQDQHTxDzWQ7Fs4XTEXAylw=
platforms/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/ueuSrg1zV5_z4KDDdu3Ofjk5j5g=
platforms/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/y45M66wRc2meYtEe856nlckC_WE=
platforms/android/app/build/intermediates/incremental/debug-mergeJniLibs/merge-state
platforms/android/app/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/F3J5fKYZjK9LqWwLuJPjev0HFKk=
platforms/android/app/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/Oasx8n78ZmTLHYle7wpoFTcOkMY=
platforms/android/app/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/s+dq8UmkxDbrfFcqSgLgukLPFZg=
platforms/android/app/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/sARPvQDQHTxDzWQ7Fs4XTEXAylw=
platforms/android/app/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/ueuSrg1zV5_z4KDDdu3Ofjk5j5g=
platforms/android/app/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/y45M66wRc2meYtEe856nlckC_WE=
platforms/android/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
platforms/android/app/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
platforms/android/app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
platforms/android/app/build/intermediates/incremental/mergeDebugResources/merger.xml
platforms/android/app/build/intermediates/incremental/mergeDebugShaders/merger.xml
platforms/android/app/build/intermediates/incremental/packageDebug/debug/dex-renamer-state.txt
platforms/android/app/build/intermediates/incremental/packageDebug/debug/file-input-save-data.txt
platforms/android/app/build/intermediates/incremental/packageDebug/debug/zip-cache/tFLO3z8JCkKFJixeAhu0USgQoXE=
platforms/android/app/build/intermediates/manifests/full/debug/AndroidManifest.xml
platforms/android/app/build/intermediates/res/debug/resources-debug.ap_
platforms/android/app/build/intermediates/res/merged/debug/drawable-hdpi_launcher_icon.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable-hdpi_shopper_icon.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable-port-ldpi_screen.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable-xhdpi_launcher_icon.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable-xxhdpi_launcher_icon.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable_launcher_icon.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable_share_via_barcode.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable_shopper_icon.png.flat
platforms/android/app/build/intermediates/res/merged/debug/layout-land_encode.xml.flat
platforms/android/app/build/intermediates/res/merged/debug/layout-land_share.xml.flat
platforms/android/app/build/intermediates/res/merged/debug/layout-ldpi_capture.xml.flat
platforms/android/app/build/intermediates/res/merged/debug/layout_bookmark_picker_list_item.xml.flat
platforms/android/app/build/intermediates/res/merged/debug/layout_capture.xml.flat
platforms/android/app/build/intermediates/res/merged/debug/layout_encode.xml.flat
platforms/android/app/build/intermediates/res/merged/debug/layout_help.xml.flat
platforms/android/app/build/intermediates/res/merged/debug/layout_history_list_item.xml.flat
platforms/android/app/build/intermediates/res/merged/debug/layout_search_book_contents.xml.flat
platforms/android/app/build/intermediates/res/merged/debug/layout_search_book_contents_header.xml.flat
platforms/android/app/build/intermediates/res/merged/debug/layout_search_book_contents_list_item.xml.flat
platforms/android/app/build/intermediates/res/merged/debug/layout_share.xml.flat
platforms/android/app/build/intermediates/res/merged/debug/menu_capture.xml.flat
platforms/android/app/build/intermediates/res/merged/debug/menu_encode.xml.flat
platforms/android/app/build/intermediates/res/merged/debug/menu_history.xml.flat
platforms/android/app/build/intermediates/res/merged/debug/mipmap-hdpi_icon.png.flat
platforms/android/app/build/intermediates/res/merged/debug/mipmap-ldpi_icon.png.flat
platforms/android/app/build/intermediates/res/merged/debug/mipmap-mdpi_icon.png.flat
platforms/android/app/build/intermediates/res/merged/debug/mipmap-xhdpi_icon.png.flat
platforms/android/app/build/intermediates/res/merged/debug/raw_beep.ogg.flat
platforms/android/app/build/intermediates/res/merged/debug/values-ar_values-ar.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/values-bg_values-bg.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/values-ca_values-ca.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/values-cs_values-cs.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/values-da_values-da.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/values-de_values-de.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/values-el_values-el.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/values-es_values-es.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/values-eu_values-eu.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/values-fi_values-fi.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/values-fr_values-fr.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/values-he_values-he.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/values-hi_values-hi.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/values-hu_values-hu.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/values-id_values-id.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/values-it_values-it.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/values-iw_values-iw.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/values-ja_values-ja.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/values-ko_values-ko.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/values-nl_values-nl.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/values-pl_values-pl.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/values-pt_values-pt.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/values-ru_values-ru.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/values-sk_values-sk.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/values-sl_values-sl.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/values-sv_values-sv.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/values-tr_values-tr.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/values-zh-rCN_values-zh-rCN.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/values-zh-rTW_values-zh-rTW.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/values_values.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/xml_camera_provider_paths.xml.flat
platforms/android/app/build/intermediates/res/merged/debug/xml_config.xml.flat
platforms/android/app/build/intermediates/res/merged/debug/xml_preferences.xml.flat
platforms/android/app/build/intermediates/res/symbol-table-with-package/debug/package-aware-r.txt
platforms/android/app/build/intermediates/symbols/debug/R.txt
platforms/android/app/build/intermediates/transforms/desugar/debug/__content__.json
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/android/support/v4/R.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/com/lisl/kuibu/BuildConfig.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/com/lisl/kuibu/MainActivity.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/com/lisl/kuibu/R$array.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/com/lisl/kuibu/R$color.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/com/lisl/kuibu/R$dimen.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/com/lisl/kuibu/R$drawable.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/com/lisl/kuibu/R$id.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/com/lisl/kuibu/R$layout.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/com/lisl/kuibu/R$menu.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/com/lisl/kuibu/R$mipmap.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/com/lisl/kuibu/R$raw.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/com/lisl/kuibu/R$string.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/com/lisl/kuibu/R$xml.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/com/lisl/kuibu/R.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/com/lisl/kuibu/wxapi/EntryActivity.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/com/lisl/kuibu/wxapi/WXEntryActivity.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/com/lisl/kuibu/wxapi/WXPayEntryActivity.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/com/phonegap/plugins/barcodescanner/BarcodeScanner.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/org/apache/cordova/camera/CameraLauncher$1.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/org/apache/cordova/camera/CameraLauncher.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/org/apache/cordova/camera/CordovaUri.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/org/apache/cordova/camera/ExifHelper.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/org/apache/cordova/camera/FileHelper.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/org/apache/cordova/camera/FileProvider.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/org/apache/cordova/device/Device.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/org/apache/cordova/R.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/org/apache/cordova/splashscreen/SplashScreen$1.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/org/apache/cordova/splashscreen/SplashScreen$2.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/org/apache/cordova/splashscreen/SplashScreen$3.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/org/apache/cordova/splashscreen/SplashScreen$4$1.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/org/apache/cordova/splashscreen/SplashScreen$4.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/org/apache/cordova/splashscreen/SplashScreen$5$1.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/org/apache/cordova/splashscreen/SplashScreen$5.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/org/apache/cordova/splashscreen/SplashScreen$6$1.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/org/apache/cordova/splashscreen/SplashScreen$6.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/org/apache/cordova/splashscreen/SplashScreen$7.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/org/apache/cordova/splashscreen/SplashScreen.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/org/apache/cordova/whitelist/WhitelistPlugin$1.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/org/apache/cordova/whitelist/WhitelistPlugin$CustomConfigXmlParser.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/org/apache/cordova/whitelist/WhitelistPlugin.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/xu/li/cordova/wechat/Util.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/xu/li/cordova/wechat/Wechat$1.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/xu/li/cordova/wechat/Wechat$2.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/0/xu/li/cordova/wechat/Wechat.dex
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/__content__.json
platforms/android/app/build/intermediates/transforms/dexMerger/debug/0/classes.dex
platforms/android/app/build/intermediates/transforms/dexMerger/debug/__content__.json
platforms/android/app/build/intermediates/transforms/externalLibsDexMerger/debug/0/classes.dex
platforms/android/app/build/intermediates/transforms/mergeJavaRes/debug/__content__.json
platforms/android/app/build/intermediates/transforms/mergeJniLibs/debug/__content__.json
platforms/android/app/build/intermediates/transforms/stackFramesFixer/debug/__content__.json
platforms/android/app/build/outputs/apk/debug/app-debug.apk
platforms/android/app/build/outputs/logs/manifest-merger-debug-report.txt
platforms/android/app/src/main/AndroidManifest.xml
platforms/android/app/src/main/assets/www/3rdpartylicenses.txt
platforms/android/app/src/main/assets/www/index.html
platforms/android/app/src/main/assets/www/polyfills.f890237b938e4f3d7270.js
platforms/android/app/src/main/assets/www/styles.1d925b86b14525b0ca9a.css
platforms/android/app/src/main/res/values/strings.xml
platforms/android/app/src/main/res/xml/config.xml
platforms/android/CordovaLib/build/generated/source/buildConfig/debug/org/apache/cordova/BuildConfig.java
platforms/android/CordovaLib/build/intermediates/attr/R.txt
platforms/android/CordovaLib/build/intermediates/incremental/debug-mergeJniLibs/merge-state
platforms/android/CordovaLib/build/intermediates/incremental/mergeDebugAssets/merger.xml
platforms/android/CordovaLib/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
platforms/android/CordovaLib/build/intermediates/incremental/mergeDebugShaders/merger.xml
platforms/android/CordovaLib/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
platforms/android/CordovaLib/build/intermediates/incremental/packageDebugResources/merger.xml
platforms/android/CordovaLib/build/intermediates/manifests/aapt/debug/AndroidManifest.xml
platforms/android/CordovaLib/build/intermediates/manifests/full/debug/AndroidManifest.xml
platforms/android/CordovaLib/build/intermediates/res/symbol-table-with-package/debug/package-aware-r.txt
platforms/android/CordovaLib/build/intermediates/transforms/mergeJniLibs/debug/__content__.json
platforms/android/CordovaLib/build/outputs/logs/manifest-merger-debug-report.txt
platforms/android/settings.gradle
src/app/_helpers/fake-backend.ts
src/app/_helpers/index.ts
src/app/_helpers/tablestore.service.ts
src/app/_models/constants.ts
src/app/_models/index.ts
src/app/_models/taskInfo.ts
src/app/_models/user.ts
src/app/_services/task.service.ts
src/app/app.module.ts
src/app/app.routing.ts
src/app/data-sync/data-sync.component.css
src/app/data-sync/data-sync.component.html
src/app/data-sync/data-sync.component.ts
src/app/home/home.component.html
src/app/home/home.component.ts
src/app/new-task/new-task.component.html
src/app/new-task/new-task.component.ts
src/assets/js/tablestore-js-sdk.js
www/3rdpartylicenses.txt
www/index.html
www/polyfills.f890237b938e4f3d7270.js
www/styles.1d925b86b14525b0ca9a.css
