<form [formGroup]="userDetailsForm" (ngSubmit)="onSubmit()">
  <div class="user-details-container">
    <input hidden formControlName="id">
    <p>
      <img src="assets/img/125495334_31n.jpg" id="myImage" class="img-profile"/>
      <button mat-icon-button (click)="takePic()">
        <mat-icon >create</mat-icon>
      </button>
    </p>
    <mat-form-field>
      <input matInput formControlName="nickName" placeholder="User Nick Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="motto" placeholder="User Motto">
    </mat-form-field>
  </div>
  <div class="button-row">
      <button mat-raised-button type="submit">Update</button>
      <button mat-raised-button (click)="qrCode()">QR Code</button>
      <button mat-raised-button [routerLink]="['']">Canel</button>
  </div>
</form>